<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.repository.CareworkerRepository">

    <insert id="insert" parameterType="Careworker">
        INSERT INTO careworker (
            cw_username, cw_password, cw_tel, cw_email, cw_name,
            cw_gender, cw_birthday, cw_zipcode, cw_street_addr,
            cw_detail_addr1, cw_detail_addr2, cw_profile,
            cw_holiday, cw_intro, cw_experience
        ) VALUES (
                     #{cwUsername}, #{cwPassword}, #{cwTel}, #{cwEmail}, #{cwName},
                     #{cwGender}, #{cwBirthday}, #{cwZipcode}, #{cwStreetAddr},
                     #{cwDetailAddr1}, #{cwDetailAddr2}, #{cwProfile},
                     #{cwHoliday}, #{cwIntro}, #{cwExperience}
                 );
    </insert>

    <select id="findAll" resultType="Careworker">
        SELECT * FROM careworker where cw_status != 'waiting'
    </select>

    <select id="findWaiting" resultType="Careworker">
        SELECT * FROM careworker where cw_status = 'waiting'
    </select>

    <select id="selectByUsername" parameterType="String" resultType="Careworker">
        SELECT * FROM careworker WHERE cw_username = #{username};
    </select>

    <!-- 상세 조회 쿼리 -->
    <select id="selectById" parameterType="int" resultType="Careworker">
        SELECT * FROM careworker WHERE cw_id = #{cwId};
    </select>

    <!-- 자격증 정보 조회 쿼리 -->
    <select id="selectLicensesByCareworkerId" parameterType="int" resultType="License">
        SELECT * FROM license WHERE cw_id = #{cwId};
    </select>

    <update id="update">
        UPDATE careworker
        <set>
            <if test="cwTel != null">cw_tel = #{cwTel},</if>
            <if test="cwEmail != null">cw_email = #{cwEmail},</if>
            <if test="cwName != null">cw_name = #{cwName},</if>
            <if test="cwZipcode != null">cw_zipcode = #{cwZipcode},</if>
            <if test="cwStreetAddr != null">cw_street_addr = #{cwStreetAddr},</if>
            <if test="cwDetailAddr1 != null">cw_detail_addr1 = #{cwDetailAddr1},</if>
            <if test="cwDetailAddr2 != null">cw_detail_addr2 = #{cwDetailAddr2},</if>
            <if test="cwStatus != null">cw_status = #{cwStatus},</if>
            <if test="cwIntro != null">cw_intro = #{cwIntro},</if>
            <if test="cwExperience != null">cw_experience = #{cwExperience}</if>
        </set>
        WHERE cw_id = #{cwId};
    </update>
    <!-- 보호사 상태 업데이트 쿼리 -->
    <update id="updateStatusToActive" parameterType="int">
        UPDATE careworker
        SET cw_status = 'active'
        WHERE cw_id = #{cwId};
    </update>
</mapper>