<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.repository.CareworkerRepository">

    <insert id="insert" parameterType="Careworker">
        INSERT INTO careworker (
            cw_username, cw_password, cw_tel, cw_email, cw_name,
            cw_gender, cw_birthday, cw_zipcode, cw_street_addr,
            cw_detail_addr1, cw_detail_addr2, cw_profile,
            cw_holiday, cw_intro, cw_experience
        ) VALUES (
                     #{cwUsername}, #{cwPassword}, #{cwTel}, #{cwEmail}, #{cwName},
                     #{cwGender}, #{cwBirthday}, #{cwZipcode}, #{cwStreetAddr},
                     #{cwDetailAddr1}, #{cwDetailAddr2}, #{cwProfile},
                     #{cwHoliday}, #{cwIntro}, #{cwExperience}
                 );
    </insert>

    <select id="findAll" resultType="Careworker">
        SELECT * FROM careworker where cw_status != 'waiting'
    </select>

    <select id="findWaiting" resultType="Careworker">
        SELECT * FROM careworker where cw_status = 'waiting'
    </select>

    <select id="selectByUsername" parameterType="String" resultType="Careworker">
        SELECT * FROM careworker WHERE cw_username = #{username};
    </select>

    <!-- 상세 조회 쿼리 -->
    <select id="selectById" parameterType="int" resultType="Careworker">
        SELECT * FROM careworker WHERE cw_id = #{cwId};
    </select>

    <!-- 자격증 정보 조회 쿼리 -->
    <select id="selectLicensesByCareworkerId" parameterType="int" resultType="License">
        SELECT * FROM license WHERE cw_id = #{cwId};
    </select>

    <update id="update">
        UPDATE careworker
        <set>
            <if test="cwTel != null">cw_tel = #{cwTel},</if>
            <if test="cwEmail != null">cw_email = #{cwEmail},</if>
            <if test="cwName != null">cw_name = #{cwName},</if>
            <if test="cwZipcode != null">cw_zipcode = #{cwZipcode},</if>
            <if test="cwStreetAddr != null">cw_street_addr = #{cwStreetAddr},</if>
            <if test="cwDetailAddr1 != null">cw_detail_addr1 = #{cwDetailAddr1},</if>
            <if test="cwDetailAddr2 != null">cw_detail_addr2 = #{cwDetailAddr2},</if>
            <if test="cwStatus != null">cw_status = #{cwStatus},</if>
            <if test="cwIntro != null">cw_intro = #{cwIntro},</if>
            <if test="cwExperience != null">cw_experience = #{cwExperience}</if>
        </set>
        WHERE cw_id = #{cwId};
    </update>
    <!-- 보호사 상태 업데이트 쿼리 -->
    <update id="updateStatusFromWaitingToActive" parameterType="int">
        UPDATE careworker
        SET cw_status = 'active'
        WHERE cw_id = #{cwId};
    </update>

    <select id="findWaitingWithLicenses" resultMap="CareworkerWithLicenseMap">
        SELECT
            cw.cw_id,
            cw.cw_name,
            cw.cw_email,
            cw.cw_tel,
            cw.cw_gender,
            cw.cw_street_addr,
            cw.cw_experience,
            l.license_id,
            l.license_name,
            l.license_start_date,
            l.license_end_date,
            l.license_status
        FROM
            careworker cw
                LEFT JOIN
            license l
            ON
                cw.cw_id = l.cw_id
        WHERE
            cw.cw_status = 'waiting'
        ORDER BY
            CASE WHEN l.license_id IS NULL THEN 1 ELSE 0 END, -- null인 자격증을 뒤로 보냄
            cw.cw_id,
            l.license_start_date;
    </select>



    <resultMap id="CareworkerWithLicenseMap" type="Careworker">
        <id property="cwId" column="cw_id"/>
        <result property="cwName" column="cw_name"/>
        <result property="cwEmail" column="cw_email"/>
        <result property="cwTel" column="cw_tel"/>
        <result property="cwGender" column="cw_gender"/>
        <result property="cwStreetAddr" column="cw_street_addr"/>
        <result property="cwExperience" column="cw_experience"/>
        <collection property="licenses" ofType="edu.sm.model.License" javaType="java.util.ArrayList">
            <id property="licenseId" column="license_id"/>
            <result property="licenseName" column="license_name"/>
            <result property="licenseStartDate" column="license_start_date"/>
            <result property="licenseEndDate" column="license_end_date"/>
            <result property="licenseStatus" column="license_status"/>
        </collection>
    </resultMap>


</mapper>