<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.repository.UserRepository">

    <!-- 사용자 삽입 -->
    <insert id="insert" parameterType="edu.sm.model.User">
        INSERT INTO user (user_username, user_password, user_tel, user_email, user_name, user_birthday, user_zipcode, user_street_addr, user_detail_addr1, user_detail_addr2, user_rdate, user_status, user_profile)
        VALUES (#{userUsername}, #{userPassword}, #{userTel}, #{userEmail}, #{userName}, #{userBirthday}, #{userZipcode}, #{userStreetAddr}, #{userDetailAddr1}, #{userDetailAddr2}, #{userRegDate}, #{userStatus}, #{userProfile});
    </insert>

    <!-- 사용자 조회 -->
    <select id="selectOne" parameterType="int" resultType="User">
        SELECT user_id AS userId, user_username AS userUsername, user_password AS userPassword,
               user_tel AS userTel, user_email AS userEmail, user_name AS userName,
               user_birthday AS userBirthday, user_zipcode AS userZipcode,
               user_street_addr AS userStreetAddr, user_detail_addr1 AS userDetailAddr1,
               user_detail_addr2 AS userDetailAddr2, user_rdate AS userRegDate,
               user_status AS userStatus, user_profile AS userProfile
        FROM user
        WHERE user_id = #{userId};
    </select>

    <!-- 사용자 이름 중복 확인 쿼리 -->
    <select id="findByUsername" parameterType="String" resultType="User">
        SELECT user_id AS userId, user_username AS userUsername, user_password AS userPassword,
               user_tel AS userTel, user_email AS userEmail, user_name AS userName,
               user_birthday AS userBirthday, user_zipcode AS userZipcode,
               user_street_addr AS userStreetAddr, user_detail_addr1 AS userDetailAddr1,
               user_detail_addr2 AS userDetailAddr2, user_rdate AS userRegDate,
               user_status AS userStatus, user_profile AS userProfile
        FROM user
        WHERE user_username = #{userUsername};
    </select>

    <!-- 전화번호 중복 확인 쿼리 -->
    <select id="findByTel" parameterType="String" resultType="User">
        SELECT user_id AS userId, user_username AS userUsername, user_password AS userPassword,
               user_tel AS userTel, user_email AS userEmail, user_name AS userName,
               user_birthday AS userBirthday, user_zipcode AS userZipcode,
               user_street_addr AS userStreetAddr, user_detail_addr1 AS userDetailAddr1,
               user_detail_addr2 AS userDetailAddr2, user_rdate AS userRegDate,
               user_status AS userStatus, user_profile AS userProfile
        FROM user
        WHERE user_tel = #{userTel};
    </select>

    <!-- 이메일 중복 확인 쿼리 -->
    <select id="findByEmail" parameterType="String" resultType="User">
        SELECT user_id AS userId, user_username AS userUsername, user_password AS userPassword,
               user_tel AS userTel, user_email AS userEmail, user_name AS userName,
               user_birthday AS userBirthday, user_zipcode AS userZipcode,
               user_street_addr AS userStreetAddr, user_detail_addr1 AS userDetailAddr1,
               user_detail_addr2 AS userDetailAddr2, user_rdate AS userRegDate,
               user_status AS userStatus, user_profile AS userProfile
        FROM user
        WHERE user_email = #{userEmail};
    </select>

    <!-- 로그인 -->
    <select id="selectByUsername" parameterType="String" resultType="User">
        SELECT user_id AS userId, user_username AS userUsername, user_password AS userPassword,
               user_tel AS userTel, user_email AS userEmail, user_name AS userName,
               user_birthday AS userBirthday, user_zipcode AS userZipcode,
               user_street_addr AS userStreetAddr, user_detail_addr1 AS userDetailAddr1,
               user_detail_addr2 AS userDetailAddr2, user_rdate AS userRegDate,
               user_status AS userStatus, user_profile AS userProfile
        From user
        WHERE user_username = #{userUsername};
    </select>

    <!-- 이메일로 사용자 검색 (아이디 찾기용) -->
    <select id="findByEmailForFindId" parameterType="String" resultType="User">
        SELECT user_id AS userId, user_username AS userUsername, user_password AS userPassword,
               user_tel AS userTel, user_email AS userEmail, user_name AS userName,
               user_birthday AS userBirthday, user_zipcode AS userZipcode,
               user_street_addr AS userStreetAddr, user_detail_addr1 AS userDetailAddr1,
               user_detail_addr2 AS userDetailAddr2, user_rdate AS userRegDate,
               user_status AS userStatus, user_profile AS userProfile
        FROM user
        WHERE user_email = #{userEmail};
    </select>
</mapper>
