<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.repository.UserRepository">

    <!-- 사용자 추가 쿼리 -->
    <insert id="insert" parameterType="edu.sm.model.User">
        INSERT INTO user (user_username, user_password, user_tel, user_email, user_name, user_birthday, user_zipcode, user_street_addr, user_detail_addr1, user_detail_addr2, user_rdate, user_status, user_profile)
        VALUES (#{username}, #{password}, #{tel}, #{email}, #{name}, #{birthday}, #{zipcode}, #{streetAddr}, #{detailAddr1}, #{detailAddr2}, #{regDate}, #{status}, #{profile});
    </insert>

    <!-- 사용자 ID로 사용자 조회 -->
    <select id="selectOne" parameterType="int" resultType="edu.sm.model.User">
        SELECT user_id AS userId, user_username AS userUsername, user_password AS userPassword,
               user_tel AS userTel, user_email AS userEmail, user_name AS userName,
               user_birthday AS userBirthday, user_zipcode AS userZipcode,
               user_detail_addr1 AS userDetailAddr1, user_detail_addr2 AS userDetailAddr2,
               user_street_addr AS userStreetAddr, user_rdate AS userRegDate,
               user_status AS userStatus, user_profile AS userProfile
        FROM user
        WHERE user_id = #{userId};
    </select>

    <!-- 사용자 이름 중복 확인 쿼리 -->
    <select id="findByUsername" parameterType="String" resultType="edu.sm.model.User">
        SELECT * FROM user WHERE user_username = #{username};
    </select>

    <!-- 전화번호 중복 확인 쿼리 -->
    <select id="findByTel" parameterType="String" resultType="edu.sm.model.User">
        SELECT * FROM user WHERE user_tel = #{tel};
    </select>

    <!-- 이메일 중복 확인 쿼리 -->
    <select id="findByEmail" parameterType="String" resultType="edu.sm.model.User">
        SELECT * FROM user WHERE user_email = #{email};
    </select>

    <!-- 로그인 (사용자 이름으로 사용자 조회) -->
    <select id="selectByUsername" parameterType="String" resultType="edu.sm.model.User">
        SELECT * FROM user WHERE user_username = #{username};
    </select>

    <!-- 회원 정보 수정 쿼리 (비밀번호 제외) -->
    <update id="update" parameterType="edu.sm.model.User">
        UPDATE user
        SET user_tel = #{userTel},
            user_email = #{userEmail},
            user_name = #{userName},
            user_zipcode = #{userZipcode},
            user_street_addr = #{userStreetAddr},
            user_detail_addr1 = #{userDetailAddr1},
            user_detail_addr2 = #{userDetailAddr2},
            user_profile = #{userProfile}
        WHERE user_id = #{userId};
    </update>

    <!-- 비밀번호 수정 쿼리 -->
    <update id="updatePassword" parameterType="edu.sm.model.User">
        UPDATE user
        SET user_password = #{userPassword}
        WHERE user_id = #{userId};
    </update>

    <!-- 계정 비활성화 (소프트 삭제) 쿼리 -->
    <update id="deactivateUser" parameterType="int">
        UPDATE user
        SET user_status = 'inactive'
        WHERE user_id = #{userId};
    </update>

    <!-- 이메일로 사용자 검색 (아이디 찾기용) -->
    <select id="findByEmailForFindId" parameterType="String" resultType="User">
        SELECT user_id AS userId, user_username AS userUsername, user_password AS userPassword,
               user_tel AS userTel, user_email AS userEmail, user_name AS userName,
               user_birthday AS userBirthday, user_zipcode AS userZipcode,
               user_street_addr AS userStreetAddr, user_detail_addr1 AS userDetailAddr1,
               user_detail_addr2 AS userDetailAddr2, user_rdate AS userRegDate,
               user_status AS userStatus, user_profile AS userProfile
        FROM user
        WHERE user_email = #{userEmail};
    </select>

</mapper>
